@use "global" as *;

.c-chart {
  width: rem(191);
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  @include mq(md) {
    width: rem(244);
    margin: 0;
  }
}

.c-chart__inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background:
    conic-gradient(
      $pink 0% 89%, /* メイン（89%） */
      $darkpink 89% 100% /* 残り（11%） */
    );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  @include mq(md) {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  }
}

.c-chart__label {
  position: absolute;
  top: rem(31);
  left: rem(29);
  @include mq(md) {
    top: rem(45);
    left: rem(38);
  }
}

.c-chart__label-bg {
  position: relative;
  display: inline-block;
  font-size: rem(11);
  letter-spacing: 0;
  font-weight: 900;
  line-height: calc(14 / 11);
  background: $white;
  color: $black;
  padding-inline: rem(17) rem(9);
  @include mq(md) {
    font-size: rem(13);
    line-height: calc(18 / 13);
    padding-inline: rem(23) rem(16);
  }
}

.c-chart__label-text {
  display: inline-block;
  transform: skewX(-5deg);
}

.c-chart__label-num {
  position: absolute;
  font-size: rem(22);
  text-shadow:
    1px 1px 1px $white,
    -1px 1px 1px $white,
    1px -1px 1px $white,
    -1px -1px 1px $white,
    1px 0 1px $white,
    -1px 0 1px $white,
    0 1px 1px $white,
    0 -1px 1px $white;
  top: rem(-11);
  left: rem(-10);
  @include mq(md) {
    font-size: rem(27);
    top: rem(-14);
    left: rem(-12);
  }
}

.c-chart__main {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: $black;
  text-shadow:
    2px 2px 2px $white,
    -2px 2px 2px $white,
    2px -2px 2px $white,
    -2px -2px 2px $white,
    2px 0 2px $white,
    -2px 0 2px $white,
    0 2px 2px $white,
    0 -2px 2px $white;
  letter-spacing: 0;
  font-weight: 900;
  margin-top: rem(25);
  @include mq(md) {
    text-shadow:
      3px 3px 3px $white,
      -3px 3px 3px $white,
      3px -3px 3px $white,
      -3px -3px 3px $white,
      3px 0 3px $white,
      -3px 0 3px $white,
      0 3px 3px $white,
      0 -3px 3px $white;
    margin-top: rem(33);
  }
}

.c-chart__num {
  font-size: rem(61);
  line-height: 1;
  @include mq(md) {
    font-size: rem(78);
  }
}

.c-chart__percent {
  font-size: rem(31);
  line-height: 1;
  margin-bottom: rem(5);
  @include mq(md) {
    font-size: rem(40);
  }
}

.c-chart__sub {
  font-size: rem(12);
  letter-spacing: 0;
  font-weight: 900;
  color: $white;
  line-height: calc(16 / 12);
  text-align: right;
  @include mq(md) {
    font-size: rem(16);
    line-height: calc(20 / 16);
  }
}

.c-chart__sub-bold {
  font-size: rem(21);
  @include mq(md) {
    font-size: rem(27);
  }
}

/*-------------------------------------------
2番目のチャート
-------------------------------------------*/
.c-chart--second {
  @include mq(md) {
    width: rem(272);
  }
}

.c-chart--second .c-chart__inner {
  background:
    conic-gradient(
      $pink 0% 93%, /* メイン（93%） */
      $darkpink 93% 100% /* 残り（7%） */
    );
}

.c-chart--second .c-chart__label {
  @include mq(md) {
    top: rem(55);
    left: rem(48);
  }
}

.c-chart--second .c-chart__label-bg {
  @include mq(md) {
    font-size: rem(17);
    line-height: calc(23 / 17);
    padding-inline: rem(30) rem(14);
  }
}

.c-chart--second .c-chart__label-num {
  @include mq(md) {
    font-size: rem(34);
    top: rem(-16);
    left: rem(-17);
  }
}

.c-chart--second .c-chart__main {
  color: $yellow04;
  @include mq(md) {
    text-shadow:
      4px 4px 4px $white,
      -4px 4px 4px $white,
      4px -4px 4px $white,
      -4px -4px 4px $white,
      4px 0 4px $white,
      -4px 0 4px $white,
      0 4px 4px $white,
      0 -4px 4px $white;
    margin-top: rem(47);
    margin-right: rem(10);
  }
}

.c-chart--second .c-chart__num {
  @include mq(md) {
    font-size: rem(88);
  }
}

.c-chart--second .c-chart__percent {
  @include mq(md) {
    font-size: rem(49);
  }
}

.p-chart {
  display: flex;
  flex-direction: column;
  gap: rem(13);
  @include mq(md) {
    flex-direction: row;
    align-items: flex-end;
    gap: rem(27);
  }
}
