@use "global" as *;

.c-difference-card {
  margin-top: 25px; //あとで消す
  padding-inline: rem(15);
  padding-block: rem(8) rem(26);
  background-color: $yellow03;
  @include mq(md) {
    padding-inline: rem(33);
    padding-block: rem(11) rem(10);
    order: 2;
  }
}

/* ラベル */
.c-difference-card__label {
  display: inline-block;
  background: $blue;
  color: $white;
  font-size: rem(16);
  font-weight: 900;
  letter-spacing: 0;
  padding-inline: rem(9);
  height: rem(24);
  line-height: rem(24);
  @include mq(md) {
    font-size: rem(18);
    padding-inline: rem(5);
    height: rem(30);
    line-height: rem(30);
  }
}

.c-difference-card__wrapper {
  display: flex;
  justify-content: center;
  gap: rem(17);
  @include mq(md) {
    gap: rem(22);
  }
}

/* 各イラスト */
.c-difference-card__item {
  width: 30%;
  text-align: center;
  position: relative;
}

/* 画像 */
.c-difference-card__image {
  width: rem(94);
  height: rem(141);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  @include mq(md) {
    width: rem(123);
    height: rem(179);
  }
}

.c-difference-card__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.c-difference-card__item:nth-child(1) .c-difference-card__image img {
  aspect-ratio: 94/128;
  @include mq(md) {
    aspect-ratio: 123/168;
  }
}

.c-difference-card__item:nth-child(2) .c-difference-card__image img {
  aspect-ratio: 94/100;
  @include mq(md) {
    aspect-ratio: 123/130;
  }
}

.c-difference-card__item:nth-child(3) .c-difference-card__image img {
  aspect-ratio: 94/141;
  @include mq(md) {
    aspect-ratio: 123/179;
  }
}

/* テキスト */
.c-difference-card__text {
  font-family: $font-sub;
  font-size: rem(10);
  font-weight: 500;
  letter-spacing: -.06em;
  line-height: calc(14 / 10);
  margin-top: rem(5);
  @include mq(md) {
    font-size: rem(13);
    line-height: calc(19 / 13);
    margin-top: rem(4);
  }
}

/* 矢印 */
.c-difference-card__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: rem(-12);
  top: rem(93);
  width: 0;
  height: 0;
  border-top: rem(6) solid transparent;
  border-bottom: rem(6) solid transparent;
  border-left: rem(7) solid #ffa5a5;
  @include mq(md) {
    right: rem(-16);
    top: rem(114);
    border-top: rem(7) solid transparent;
    border-bottom: rem(7) solid transparent;
    border-left: rem(9) solid #ffa5a5;
  }
}


/*-------------------------------------------
医療脱毛のカード
-------------------------------------------*/
.c-difference-card--medical {
  padding-block: rem(8) rem(12);
  margin-top: rem(25);
  @include mq(md) {
    padding-inline: rem(33);
    padding-block: rem(11) rem(10);
    order: 1;
  }
}

.c-difference-card--medical .c-difference-card__label {
  background: $pink;
  @include mq(md) {
    padding-inline: rem(11);
  }
}

.p-difference-card {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }
}
