@use "global" as *;

.c-fee-card__lead {
  font-size: rem(16);
  font-weight: 900;
  letter-spacing: 0;
  text-align: center;
  position: relative;
  @include mq(md) {
    font-size: rem(22);
  }
}

.c-fee-card__lead::before,
.c-fee-card__lead::after {
  content: "";
  position: absolute;
  top: 55%;
  width: rem(1);
  height: rem(15);
  background-color: $black;
  transform-origin: center;
  border-radius: 999px;
  @include mq(md) {
    height: rem(22);
  }
}

.c-fee-card__lead::before {
  left: 30%;
  transform: translateY(-50%) rotate(-22deg);
  @include mq(md) {
    left: 39%;
  }
}

.c-fee-card__lead::after {
  right: 30%;
  transform: translateY(-50%) rotate(22deg);
  @include mq(md) {
    right: 39%;
  }
}

.c-fee-card {
  border: rem(3) solid #c06a86;
  background-color: $lightpink02;
  border-radius: rem(15);
  padding: rem(15) rem(12) rem(26);
  text-align: center;
  background: $white;
  position: relative;
  margin-top: rem(19);
  @include mq(md) {
    padding: rem(34) rem(28) rem(19);
    margin-top: rem(34);
  }
}

/* リボン */
.c-fee-card__ribbon {
  position: absolute;
  top: rem(-18);
  left: 50%;
  transform: translateX(-50%);
  width: rem(315);
  height: rem(33);
  line-height: rem(33);
  text-align: center;
  font-size: rem(18);
  font-weight: 900;
  letter-spacing: 0.12em;
  background: $pink;
  color: $white;
  clip-path: polygon(
    0 0,
    100% 0,
    95% 50%,
    100% 100%,
    0 100%,
    5% 50%);
  @include mq(md) {
    top: rem(-34);
    width: rem(528);
    height: rem(68);
    line-height: rem(68);
    font-size: rem(40);
  }
}

.c-fee-card__body {
  margin-top: rem(30);
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(14);
    gap: rem(13);
  }
}

/* タグ */
.c-fee-card__tags {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rem(7) rem(6);
  @include mq(md) {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(11) rem(6);
    align-content: flex-start;
  }
}

.c-fee-card__tags span {
  background: $pink03;
  border-radius: rem(11);
  font-size: rem(14);
  font-weight: 900;
  width: 100%;
  height: rem(22);
  line-height: rem(22);
  @include mq(md) {
    border-radius: rem(14);
    font-size: rem(17);
    width: rem(100);
    height: rem(30);
    line-height: rem(30);
  }
}

/* 価格エリア */
.c-fee-card__price-area {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: rem(5);
  @include mq(md) {
    margin-left: 0;
    flex-shrink: 1;
    min-width: 0;
  }
}

/* バッジ */
.c-fee-card__badge {
  width: rem(66);
  height: rem(66);
  background-image: url("../images/fee/fee_01.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: rem(14);
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.12em;
  @include mq(md) {
    width: rem(94);
    height: rem(94);
    font-size: rem(19);
  }

}

.c-fee-card__badge-top {
  display: flex;
  align-items: baseline;
  @include mq(md) {
    font-size: rem(20);
  }
}

.c-fee-card__badge-num {
  font-size: rem(24);
  @include mq(md) {
    font-size: rem(35);
  }
}

.c-fee-card__badge-bottom {
  margin-bottom: rem(6);
}

/* 金額 */
.c-fee-card__monthly {
  display: flex;
  align-items: center;
  color: $pink;
  @include mq(md) {
  }
}

.c-fee-card__month {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: rem(20);
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: calc(28 / 20);
  margin: rem(6) 0 0 rem(9);
  @include mq(md) {
    font-size: rem(30);
    letter-spacing: 0.021em;
  }
}

.c-fee-card__amount {
  font-size: rem(54);
  font-weight: 900;
  letter-spacing: 0;
  line-height: calc(91 / 54);
  @include mq(md) {
    font-size: rem(80);
    line-height: 1;
    flex-shrink: 0;
  }
}

.c-fee-card__unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(5);
  margin: rem(7) 0 0 rem(19);
  flex-shrink: 0;
}

.c-fee-card__tax {
  font-size: rem(10);
  font-weight: 900;
  letter-spacing: 0;
  line-height: 1;
  @include mq(md) {
    font-size: rem(16);
  }
}

.c-fee-card__yen {
  font-size: rem(26);
  font-weight: 900;
  letter-spacing: 0;
  line-height: 1;
  @include mq(md) {
    font-size: rem(48);
  }
}

/* 総額 */
.c-fee-card__total {
  font-size: rem(16);
  font-weight: 900;
  letter-spacing: 0;
  margin: rem(-17) 0 0 rem(5);
  @include mq(md) {
    font-size: rem(20);
    margin: 0 0 0 rem(5);
  }
}

.c-fee-card-total__yen {
  font-size: rem(22);
  @include mq(md) {
    font-size: rem(26);
  }
}

.c-fee-card-total__tax {
  font-size: rem(12);
  @include mq(md) {
    font-size: rem(14);
  }
}

/*-------------------------------------------
2番目のカード
-------------------------------------------*/
.c-fee-card__lead--perfect {
  margin-top: rem(34);
}

.c-fee-card__lead--perfect::before {
  left: 18%;
  transform: translateY(-50%) rotate(-22deg);
  @include mq(md) {
    left: 33%;
  }
}

.c-fee-card__lead--perfect::after {
  right: 19%;
  transform: translateY(-50%) rotate(22deg);
  @include mq(md) {
    right: 33%;
  }
}

.c-fee-card--perfect {
  border: rem(3) solid $blue;
  background-color: $lightblue02;
  @include mq(md) {
    padding: rem(34) rem(28) rem(27);
  }
}

.c-fee-card--perfect .c-fee-card__ribbon {
  background: $blue;
}

.c-fee-card--perfect .c-fee-card__tags {
  @include mq(md) {
    gap: rem(7) rem(6);
  }
}

.c-fee-card--perfect .c-fee-card__tags span {
  background: $lightblue;
}

.c-fee-card--perfect .c-fee-card__monthly {
  color: $blue;
}

.p-fee-card {
  @include mq(md) {
    padding-left: rem(50);
    padding-right: rem(50);
  }
}
