@use "global" as *;

.c-table {
  border-collapse: collapse;
  min-width: rem(630);
  width: 100%;
  text-align: center;
  margin-bottom: rem(15);
}

.c-table__highlight::before {
  content: "";
  position: absolute;
  top: rem(-3);
  bottom: 0;
  right: 0;
  left: rem(-3);
  border-right: rem(3) solid $pink;
  border-left: rem(3) solid $pink;
  pointer-events: none;
  @include mq(md) {
    top: rem(-5);
    left: rem(-5);
    border-right: rem(5) solid $pink;
    border-left: rem(5) solid $pink;
  }
}

tr:first-child .c-table__highlight::after {
  content: "";
  position: absolute;
  top: rem(-3);
  bottom: 0;
  right: 0;
  left: rem(-3);
  border-top: rem(3) solid $pink;
  pointer-events: none;
  @include mq(md) {
    top: rem(-5);
    left: rem(-5);
    border-top: rem(5) solid $pink;
  }
}

tr:last-child .c-table__highlight::after {
  content: "";
  position: absolute;
  top: rem(-3);
  bottom: 0;
  right: 0;
  left: rem(-3);
  border-bottom: rem(3) solid $pink;
  pointer-events: none;
  @include mq(md) {
    top: 0;
    bottom: rem(-4);
    left: rem(-5);
    border-bottom: rem(5) solid $pink;
  }
}

/* 共通 */
.c-table th {
  color: $white;
  font-size: rem(14);
  font-weight: 900;
  line-height: calc(18 / 14);
  @include mq(md) {
    font-size: rem(20);
    line-height: calc(27 / 20);
  }
}

/* ヘッダー */
.c-table thead th {
  padding-block: rem(7);
  padding-inline: rem(27);
  @include mq(md) {
    padding-block: rem(13);
    padding-inline: rem(44);
  }
}

.c-table__transparent {
  background-color: transparent;
}

.c-table__accent {
  position: relative;
  background-color: $pink;
  width: rem(177);
  @include mq(md) {
    width: rem(283);
  }
}

.c-table__normal {
  background-color: $blue;
  width: rem(177);
  @include mq(md) {
    width: rem(283);
  }
}

.c-table__normal--medical {
  border-left: rem(3) solid #e8e8e8;
  border-right: rem(3) solid #e8e8e8;
  @include mq(md) {
    border-left: rem(5) solid #e8e8e8;
    border-right: rem(5) solid #e8e8e8;
  }
}

/* 左の項目列 */
.c-table tbody th {
  border: rem(3) solid #e8e8e8;
  border-right: rem(6) solid #e8e8e8;
  background-color: #b2b2b2;
  color: $white;
  font-size: rem(14);
  font-weight: 900;
  line-height: calc(16 / 14);
  width: rem(91);
  height: rem(79);
  padding-block: rem(7);
  padding-inline: rem(7);
  @include mq(md) {
    border: rem(5) solid #e8e8e8;
    border-right: rem(10) solid #e8e8e8;
    font-size: rem(18);
    line-height: calc(20 / 18);
    width: rem(143);
    height: rem(125);
    padding-block: rem(22);
    padding-inline: rem(22);
  }
}

/* セル */
.c-table td {
  border: rem(3) solid #e8e8e8;
  background: $white;
  width: rem(177);
  padding-block: rem(10) rem(7);
  padding-inline: rem(7);
  vertical-align: top;
  @include mq(md) {
    border: rem(5) solid #e8e8e8;
    width: rem(283);
    padding-block: rem(13);
  }
}

/* 強調列 */
.c-table td.c-table__highlight {
  position: relative;
  background-color: $lightpink;
}

.c-table p {
  font-family: $font-sub;
  color: $black02;
  font-size: rem(10);
  font-weight: 500;
  line-height: calc(14 / 10);
  margin-top: rem(6);
  @include mq(md) {
    font-size: rem(13);
    line-height: calc(20 / 13);
    margin-top: rem(10);
    text-align: left;
    padding-inline: rem(33) rem(23);
  }
}

/* マーク共通 */
.c-table__mark {
  display: block;
  margin: 0 auto;
}

/* ◎ */
.c-table__mark--circle {
  width: rem(25);
  height: rem(25);
  position: relative;
  border: rem(2) solid $pink;
  border-radius: 50%;
  box-sizing: border-box;
  @include mq(md) {
    width: rem(40);
    height: rem(40);
    border: rem(3) solid $pink;
  }
}

.c-table__mark--circle::before {
  content: "";
  width: rem(18);
  height: rem(18);
  position: absolute;
  border: rem(1) solid $pink;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  box-sizing: border-box;
  @include mq(md) {
    width: rem(28);
    height: rem(28);
    border: rem(2) solid $pink;
  }
}

/* ⚪︎ */
.c-table__mark--single {
  width: rem(25);
  height: rem(25);
  position: relative;
  border: rem(2) solid $pink;
  border-radius: 50%;
  box-sizing: border-box;
  @include mq(md) {
    width: rem(40);
    height: rem(40);
    border: rem(3) solid $pink;
  }
}

/* △ */
.c-table__mark--triangle {
  width: rem(24);
  height: rem(24);
  background-image: url("../images/difference/difference_07.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @include mq(md) {
    width: rem(38);
    height: rem(38);
  }
}

/* × */
.c-table__mark--cross {
  position: relative;
  width: rem(24);
  height: rem(24);
  @include mq(md) {
    width: rem(44);
    height: rem(44);
  }
}

.c-table__mark--cross::before,
.c-table__mark--cross::after {
  content: "";
  position: absolute;
  top: 0;
  left: rem(12);
  width: rem(2);
  height: rem(24);
  border-radius: 999px;
  background: #808080;
  @include mq(md) {
    left: rem(22);
    width: rem(3);
    height: rem(44);
  }
}

.c-table__mark--cross::before {
  transform: rotate(45deg);
}

.c-table__mark--cross::after {
  transform: rotate(-45deg);
}
