@use "global" as *;

.p-difference {
  padding-block: rem(59) rem(60);
  background-color: #edf9fa;
  background-image: repeating-linear-gradient(90deg, #d8f5f5, #d8f5f5 4px, transparent 4px, transparent 8px);
  @include mq(md) {
    padding-block: rem(111) rem(104);
    background-image: repeating-linear-gradient(90deg, #d8f5f5, #d8f5f5 7px, transparent 7px, transparent 14px);
  }
}

.p-difference__ribbon {
  background: $yellow;
  padding: rem(6) rem(8);
  text-align: center;
  border-radius: rem(7);
  corner-shape: scoop;
  @include mq(md) {
    padding: rem(8) rem(12);
    border-radius: rem(12);
  }
}

.p-difference__title {
  position: relative;
  padding: rem(7) 0 rem(9);
  font-size: rem(20);
  font-weight: 900;
  color: $white;
  @include mq(md) {
    padding: rem(7) 0 rem(12);
    font-size: rem(38);
  }
}

.p-difference__title::before,
.p-difference__title::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: rem(4);
  background: radial-gradient(circle, $white 1px, transparent 1px);
  background-size: rem(4) rem(4);
  @include mq(md) {
    background-size: rem(8) rem(4);
  }
}

.p-difference__title::before {
  top: 0;
}

.p-difference__title::after {
  bottom: 0;
}

.p-difference__cards {
  margin-top: rem(30);
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    margin-top: rem(60);
  }
}


/*-------------------------------------------
テーブル
-------------------------------------------*/
.p-difference__table-wrapper {
  margin-top: rem(36);
  @include mq(md) {
    margin-top: rem(75);
  }
}

/* 横スクロール */
.p-difference__scroll {
  overflow-x: auto;
}

/* Chrome / Safari */
.p-difference__scroll::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.p-difference__scroll {
  scrollbar-width: none;
}

/* IE / Edge（旧） */
.p-difference__scroll {
  -ms-overflow-style: none;
}

.p-difference__scrollbar {
  height: rem(10);
  background: #e5e5e5;
  border-radius: 999px;
  @include mq(md) {
    display: none;
  }
}

.p-difference__scrollbar-thumb {
  width: rem(100);
  height: 100%;
  background: $pink;
  border-radius: 999px;
  transform: translateX(0);
  @include mq(md) {
    display: none;
  }
}
