@use "global" as *;

.p-flow {
  position: relative;
  padding-block: rem(69) clamp(73px, 21.4vw, 164px);
  @include mq(md) {
    padding-block: rem(190) rem(190);
  }
}

.p-flow::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: url(../images/flow/flow_01.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  clip-path: polygon(0 2%, 100% 0%, 100% 97%, 0% 100%);
  z-index: -100;
  @include mq(md) {
    background: url(../images/flow/flow_01PC.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    clip-path: polygon(0 11%, 100% 0%, 100% 92%, 0% 100%);
  }
}

.p-flow__title {
  position: relative;
  font-size: rem(20);
  font-weight: 900;
  color: $pink;
  text-align: center;
  margin-top: rem(-3);
  @include mq(md) {
    font-size: rem(38);
  }
}

.p-flow__title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: rem(-8);
  left: 50%;
  transform: translateX(-50%);
  width: rem(170);
  height: auto;
  aspect-ratio: 170 / 7;
  background: url(../images/mv/mv_02.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @include mq(md) {
    width: rem(400);
    aspect-ratio: 400 / 16;
    bottom: rem(-23);
  }
}

.p-flow-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: rem(46);
  counter-reset: flow;
  margin-top: rem(50);
  @include mq(md) {
    gap: rem(53.5);
    margin-top: rem(87);
  }
}

.p-flow-cards::before {
  content: "";
  display: block;
  position: absolute;
  top: rem(-135);
  left: rem(-80);
  width: rem(162);
  height: rem(107);
  aspect-ratio: 162 / 107;
  background: url(../images/flow/flow_02.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 100;
  @include mq(md) {
    top: rem(-323);
    left: rem(-188);
    width: rem(392);
    height: rem(260);
    aspect-ratio: 392 / 260;
  }
}
