@use "global" as *;

.p-footer {
  background-color: $darkpink02;
  padding-block: rem(173) rem(60);
  @include mq(md) {
    padding-block: rem(352) rem(40);
    transition: .4s;
  }
}

.p-footer__inner {
  max-width: rem(600);
  @include mq(md) {
    max-width: $innerWidth + $padding-pc * 2;
  }
}

.p-footer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.p-footer__wrapper::before {
  content: "";
  position: absolute;
  top: rem(-14);
  left: 0;
  width: 100%;
  height: rem(1);
  background-color: $white;
}

.p-footer__logo {
  font-family: "Shippori Mincho", serif;
  font-size: rem(20);
  font-weight: 600;
  color: $white;
  @include mq(md) {
    font-size: rem(40);
    white-space: nowrap;
    padding-top: rem(8);
  }
}

/*-------------------------------------------
ナビゲーション
-------------------------------------------*/
.p-footer__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-inline: rem(15);
  margin-top: rem(25);
  @include mq(md) {
    gap: rem(79);
    padding-inline: 0;
    margin-top: rem(62);
    width: auto;
  }
}

.p-footer__nav-list {
  display: flex;
  flex-direction: column;
}

.p-footer__nav-list:nth-of-type(2) {
  @include mq(md) {
    justify-content: flex-end;
    margin-top: rem(102);
  }
}

.p-footer-nav-item__link {
  display: block;
  font-size: rem(14);
  line-height: 2.3;
  color: $white;
  width: 100%;
  @include mq(md) {
    font-size: rem(16);
    line-height: 2;
    width: auto;
    transition: .4s;
  }
}

/*-------------------------------------------
コピーライト
-------------------------------------------*/
.p-footer__copyright {
  margin-top: rem(49);
  font-size: rem(13);
  display: block;
  text-align: center;
  color: $white;
  @include mq(md) {
    margin-top: rem(47);
    font-size: rem(15);
  }
}
