@use "global" as *;

.p-fee {
  padding-block: rem(63) rem(67);
  @include mq(md) {
    padding-block: rem(111) rem(133);
  }
}

.p-fee__title {
  position: relative;
  font-size: rem(20);
  font-weight: 900;
  color: $pink;
  text-align: center;
  @include mq(md) {
    font-size: rem(38);
  }
}

.p-fee__title::before,
.p-fee__title::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: rem(264);
  height: rem(1.5);
  border-radius: 999px;
  background: $pink;
  @include mq(md) {
    width: rem(528);
    height: rem(3.1);
  }
}

.p-fee__title::before {
  top: rem(-3);
  @include mq(md) {
    top: rem(-10);
  }
}

.p-fee__title::after {
  bottom: rem(-6);
  @include mq(md) {
    bottom: rem(-12);
  }
}

.p-fee__cards {
  margin-top: rem(26);
  @include mq(md) {
    padding-left: rem(50);
    padding-right: rem(50);
    margin-top: rem(64);
  }
}

.p-fee__note {
  font-family: $font-sub;
  color: $black02;
  font-size: rem(13);
  font-weight: 500;
  line-height: calc(21 / 13);
  margin-top: rem(13);
  @include mq(md) {
    width: fit-content;
    margin-left: auto;
    margin-top: rem(17);
  }
}

.p-fee__btn {
  width: rem(270);
  margin: rem(37) auto 0;
  @include mq(md) {
    width: rem(500);
    margin: rem(51) auto 0;
  }
}

/*-------------------------------------------
p-fee--second
-------------------------------------------*/
.p-fee--second {
  padding-block: rem(63) rem(50);
  @include mq(md) {
    padding-block: rem(111) rem(94);
  }
}

.p-fee--second .p-fee__cards {
  @include mq(md) {
    margin-top: rem(36);
  }
}

.p-fee--second .c-fee-card--perfect {
  @include mq(md) {
    margin-top: rem(20);
  }
}

.p-fee--second .p-fee__note {
  @include mq(md) {
    margin-left: 0;
  }
}
