@use "global" as *;

.p-header {
  height: rem(60);
  background: $pink;
  @include mq(md) {
    height: rem(90);
    transition: transform .4s;
  }
  @include mq(xl) {
    height: calc(90 / 1440 * 100vw);
  }
}

.p-header__inner {
  padding-left: rem(15);
  @include mq(md) {
    height: 100%;
    padding-left: 0;
    margin-left: calc(118 / 1440 * 100vw);
    margin-right: calc(120 / 1440 * 100vw);
  }
}

.p-header__wrapper {
  height: rem(60);
  display: flex;
  justify-content: space-between;
  @include mq(md) {
    height: 100%;
    align-items: center;
  }
}

.p-header__logo {
  font-family: "Shippori Mincho", serif;
  color: $white;
  font-size: rem(22);
  font-weight: 600;
  height: inherit;
  position: relative;
  z-index: 300;
  @include mq(md) {
    font-size: calc(34 / 1440 * 100vw);
    transition: opacity .4s;
  }
}

.p-header__logo a {
  display: flex;
  align-items: center;
  height: 100%;
}

.p-header__hamburger {
  height: rem(60);
  width: rem(58);
  padding: rem(19) rem(15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 300;
  @include mq(md) {
    display: none;
  }
}

.p-header__hamburger span {
  width: 100%;
  height: rem(2);
  background-color: $white;
  display: inline-block;
  transform: translateY(0) rotate(0);
  transition: transform ease-in-out .3s;
}

.p-header__hamburger.is-active span:nth-child(1) {
  transform: translateY(rem(10)) rotate(45deg);
}

.p-header__hamburger.is-active span:nth-child(2) {
  background-color: transparent;
}

.p-header__hamburger.is-active span:nth-child(3) {
  transform: translateY(rem(-10)) rotate(-45deg);
}


/*-------------------------------------------
ナビゲーション
-------------------------------------------*/
.p-header__nav {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: $blue;
  top: rem(60);
  left: 0;
  z-index: 200;
  @include mq(md) {
    display: flex;
    position: static;
    height: inherit;
    width: calc(863 / 1440 * 100vw);
    padding: 0;
    align-items: center;
    background-color: transparent;
  }
}

.p-header__nav-wrapper {
  padding-inline: rem(36);
  height: 100%;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: rem(600);
  margin: 0 auto;
  @include mq(md) {
    padding: 0;
    width: 100%;
    max-width: 100%;
    min-height: initial;
    overflow: initial;
    flex-direction: row;
  }
}

.p-header__nav-list {
  width: 100%;
  margin-top: rem(55);
  @include mq(md) {
    margin-top: 0;
    display: flex;
    width: auto;
    height: inherit;
    margin-left: rem(24);
  }
}

.p-header__nav-item {
  width: 100%;
  @include mq(md) {
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    height: inherit;
  }
}

.p-header-nav-item__link {
  display: block;
  padding: rem(3.5) rem(10);
  font-size: rem(16);
  line-height: calc(38 / 16);
  @include mq(md) {
    display: flex;
    align-items: center;
    font-size: calc(13 / 1440 * 100vw);
    line-height: 1;
    color: $white;
    height: inherit;
    white-space: nowrap;
  }
}

.p-header-nav-item__text {
  @include mq(md) {
    position: relative;
    display: inline-block;
  }
}

.p-header-nav-item__text::after {
  @include mq(md) {
    content: "";
    position: absolute;
    left: 0;
    bottom: rem(-7);
    width: 100%;
    height: rem(1.5);
    background: $white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s ease;
  }
}

.p-header-nav-item__link:hover .p-header-nav-item__text::after {
  @include mq(md) {
    transform: scaleX(1);
  }
}


/*-------------------------------------------
ボタンリスト
-------------------------------------------*/
.p-header__btnlist {
  display: none;
  @include mq(md) {
    display: flex;
    justify-content: flex-end;
    width: calc(486 / 863 * 100vw);
    height: 100%;
  }
}

.p-header__btnbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(10);
  transition: all .3s;
  @include mq(md) {
    height: inherit;
  }
}


/*-------------------------------------------
電話番号ボタン
-------------------------------------------*/
.p-header__phonenumber {
  @include mq(md) {
    color: $white;
    width: calc(281 / 486 * 100%);
  }
}

.p-header__phonenumber a {
  @include mq(md) {
    display: flex;
    flex-direction: column;
    pointer-events: none;
    cursor: default;
    padding-top: rem(10);
  }
}

.p-header__phonenumber-textbox {
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: rem(5);
  }
}

.p-header__phonenumber-img {
  @include mq(md) {
    width: rem(15);
  }
}

.p-header__phonenumber-img img {
  width: 100%;
  height: auto;
  aspect-ratio: 15/20;
}

.p-header__phonenumber-num {
  @include mq(md) {
    font-size: calc(22 / 1440 * 100vw);
    line-height: 1;
    letter-spacing: .025em;
    font-weight: 900;
  }
}

.p-header__phonenumber-hours {
  @include mq(md) {
    font-size: calc(14 / 1440 * 100vw);
    font-weight: 700;
    line-height: calc(25 / 14);
    letter-spacing: .0;
  }
}


/*-------------------------------------------
無料カウンセリングボタン
-------------------------------------------*/
.p-header__counseling {
  @include mq(md) {
    width: calc(205 / 486 * 100%);
  }
}

.p-header__counseling-btn {
  @include mq(md) {
    width: 100%;
  }
}

.p-header__counseling-btn a {
  @include mq(md) {
    position: relative;
    box-shadow:
      inset 0 2px 0 rgba(255, 255, 255, 0.4),
      inset 0 -4px 0 #439121;
    border: 1.5px solid $white;
    font-size: calc(14 / 1440 * 100vw);
    line-height: calc(17 / 14);
    padding-block: rem(8);
    padding-right: rem(14);
    transition: transform .2s, box-shadow .2s;
  }
}

.p-header__counseling-btn a:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.p-header__counseling-btn a::before {
  @include mq(md) {
    content: "";
    position: absolute;
    inset: rem(-1) 0 rem(-5);
    border-radius: inherit;
    pointer-events: none;
  }
}

.p-header__counseling-btn a::after {
  @include mq(md) {
    right: rem(20);
    width: rem(14);
    height: rem(19);
  }
}


/*-------------------------------------------
ハンバーガーメニュー展開時、背景を固定
-------------------------------------------*/
body.active {
  height: 100%;
  overflow: hidden;
}
