@use "global" as *;

.p-reason {
  position: relative;
  background-color: $lightpink;
  padding-block: rem(57) rem(61);
  @include mq(md) {
    padding-block: rem(132) rem(134);
  }
}

.p-reason__head {
  position: relative;
  text-align: center;
  margin-bottom: rem(-4);
  @include mq(md) {
    margin-bottom: rem(-5);
  }
}

/* アーチの装飾 */
.p-reason__head::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: rem(218);
  height: rem(134);
  border: 2px solid $pink;
  background-color: $white;
  border-bottom: none;
  border-radius: 50% 50% 0 0;
  @include mq(md) {
    width: rem(526);
    height: rem(375);
    border: 4px solid $pink;
  }
}

.p-reason__head::after {
  content: "";
  display: block;
  position: absolute;
  top: rem(-45);
  right: rem(-12);
  width: rem(110);
  height: rem(116);
  aspect-ratio: 110 / 116;
  background: url(../images/reason/reason_07.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 100;
  @include mq(md) {
    top: rem(-58);
    right: rem(172);
    width: rem(183);
    height: rem(192);
    aspect-ratio: 183 / 192;
  }
}

.p-reason__lead {
  position: relative;
  font-size: rem(11.5);
  font-weight: 900;
  color: $pink;
  padding-top: rem(9);
  @include mq(md) {
    font-size: rem(20);
    padding-top: rem(20);
  }
}

.p-reason__lead::before,
.p-reason__lead::after {
  content: "";
  position: absolute;
  bottom: rem(-17);
  width: rem(13);
  height: rem(13);
  @include mq(md) {
    bottom: rem(-34);
    width: rem(31);
    height: rem(31);
  }
}

.p-reason__lead::before {
  left: 25%;
  background: url(../images/reason/reason_01.svg) no-repeat center / contain;
  @include mq(md) {
    left: 34.5%;
  }
}

.p-reason__lead::after {
  right: 25%;
  background: url(../images/reason/reason_02.svg) no-repeat center / contain;
  @include mq(md) {
    right: 34.5%;
  }
}

.p-reason__title {
  position: relative;
  display: inline-block;
  font-family: "Shippori Mincho", serif;
  font-size: rem(15.4);
  font-weight: 700;
  color: $yellow;
  transform: skewX(-5deg);
  z-index: 100;
  @include mq(md) {
    font-size: rem(32);
    margin-top: rem(10);
  }
}

.p-reason__title span {
  font-size: rem(33);
  font-weight: 400;
  line-height: 1;
  @include mq(md) {
    font-size: rem(68);
  }
}

.p-reason__title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  height: rem(1);
  background: $yellow;
  @include mq(md) {
    width: 110%;
  }
}

.p-reason__cards {
  position: relative;
  padding-left: rem(18);
  padding-right: rem(18);
  counter-reset: reason;
  background-color: $white;
  border: 2px solid $pink;
  border-top: none;
  padding-block: rem(43) rem(46);
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(61) rem(31);
    border: 4px solid $pink;
    border-top: none;
    padding-inline: rem(33);
    padding-block: rem(67) rem(53);
  }
}

/* 左の線 */
.p-reason__cards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50% - rem(106));
  height: rem(2);
  background: $pink;
  @include mq(md) {
    width: calc(50% - rem(247));
    height: rem(4);
  }
}

/* 右の線 */
.p-reason__cards::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(50% - rem(106));
  height: rem(2);
  background: $pink;
  @include mq(md) {
    width: calc(50% - rem(247));
    height: rem(4);
  }
}
