@use "global" as *;

.p-worries {
  position: relative;
  padding-top: rem(56);
  @include mq(md) {
    padding-top: rem(75);
  }
}

.p-worries::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/worries/worries_04.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -100;
  @include mq(md) {
    background-image: url("../images/worries/worries_04PC.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.p-worries__wrapper {
  position: relative;
  margin: 0 auto;
  max-width: rem(345);
  @include mq(md) {
    max-width: rem(600);
  }
}

.p-worries__frame {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.p-worries__content {
  position: relative;
  z-index: 1;
  padding: rem(26) rem(15) rem(33);
  @include mq(md) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(17) 0 rem(27);
  }
}

.p-worries__title {
  text-align: center;
  font-size: rem(18);
  font-weight: 500;
  @include mq(md) {
    font-size: rem(20);
  }
}

.p-worries__title span {
  position: relative;
  font-size: rem(24);
  padding-inline: rem(8);
  @include mq(md) {
    font-size: rem(28);
  }
}

.p-worries__title span::before,
.p-worries__title span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: rem(12);
  height: rem(29);
  @include mq(md) {
    width: rem(15);
    height: rem(36);
  }
}

.p-worries__title span::before {
  left: 0;
  background-image: url("../images/worries/worries_01.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.p-worries__title span::after {
  right: 0;
  background-image: url("../images/worries/worries_02.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.p-worries__list {
  display: flex;
  flex-direction: column;
  gap: rem(16.5);
  margin-top: rem(14);
  @include mq(md) {
    gap: rem(9.5);
  }
}

.p-worries__item {
  position: relative;
  padding-left: rem(26);
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.4;
  @include mq(md) {
    padding-left: rem(30);
  }
}

.p-worries__item span {
  background:
    linear-gradient($lightpink, $lightpink) no-repeat left bottom / 0% 40%;
  transition: background-size 0.6s ease;
}

.p-worries__item.is-active span {
  background-size: 100% 40%;
}

.p-worries__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: rem(5);
  width: rem(16);
  height: rem(16);
  border: rem(0.4) solid $black;
  @include mq(md) {
    top: rem(2);
    width: rem(18);
    height: rem(18);
    border: rem(0.45) solid $black;
  }
}

.p-worries__item::after {
  content: "";
  position: absolute;
  top: rem(7);
  left: rem(2);
  width: rem(17);
  height: rem(17);
  background-image: url("../images/worries/worries_03.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  @include mq(md) {
    top: rem(2);
    width: rem(21);
    height: rem(21);
  }
}
